.title{
    color: #40288a;
    text-align: center;
    font-weight: bold;
}

.btn-post{
    border: 1px solid #009ea4;
    color: #009ea4;
}

.btn:hover{
    border: 1px solid #009ea4;
    color: #086167;
}

.btn-users{
    background-color: #7e6ae8;
    color: #fff;
}

.card-post{
    border: 1px solid #00578d;
}

.card-title{
    color: #00578d;
}

.description{
    color: #009ea4;
    font-weight: bold;
    font-size: 1.5rem;
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(244, 244, 244, 0.209);
}

.icon{
    font-size: 3rem;
    animation: spin .5s linear infinite;
}

/* Icon loading animation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}